.ret__calculator-estimates__item-text {
    border: 1px solid #535353;
    display: block;
    padding: 5px 10px;
    width: 100%;
}

@media (min-width: 481px){
    .ret__calculator-estimates__item-text {
        display: inline-block;
        width: 200px;
    }
}

.ret__calculator-estimates__item-text:before {
    content: "$";
    margin-right: 5px;
}