.ms__form-calculator__item-label {
    display: block;
}

.ms__form-calculator__item-text {
    border: 2px solid #dcdcdc;
    color: #535353;
    display: block;
    padding: 5px 10px;
    width: 100%;
}

@media (min-width: 481px){
    .ms__form-calculator__item + .ms__form-calculator__item {
        margin-top: 10px;
    }
    .ms__form-calculator__item-label {
        display: inline-block;
        width: 210px;
    }
    .ms__form-calculator__item-text {
        display: inline-block;
        width: 200px;
    }
}

.ms__form-calculator__item-text:before {
    content: "$";
    margin-right: 5px;
}